.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  min-height: 100vh;
  background-color: #08415C;
  background: cover;

}

.useEffect1, .useEffect2, .useEffect3, .carousel {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #F6C28B;
  padding: 1em 2em;
  margin-right: 6em;
  cursor: pointer;
}
.useEffect1:hover, .useEffect2:hover, .useEffect3:hover, .carousel:hover {
  color: var(--hover-color);
  font-weight: bold;
  cursor: pointer;
 
}
.home {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  position: relative;
  bottom: 400px;
  left: 18.3em;
  text-align: center;
  text-decoration: underline;  
}

.gradHat {
  position: relative;
  right: 80em;
  bottom: 24.5em;
}
.menuBar {
  position: relative;
  bottom: 24.5em;
}




